.list {
  list-style-type: none;
  padding: 1em 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  @media (min-width: 760px) {
    justify-content: center;
  }
}

.item {
  font-size: .9em;
  line-height: 1.6;
}

.item + .item::before {
  content: '/';
  display: inline-block;
  padding: 0 0.5em;
  color: var(--color-gray);
}
