.list {
  list-style-type: none;
  padding: 1em 0;
  margin: 0;
  color: var(--color-gray-light);
  font-size: .8em;
  font-weight: normal;
  @media (min-width: 760px) {
    font-size: .9em;
    justify-content: center;
  }
  @media (min-width: 960px) {
    font-size: 1em;
  }
}

.list > span {
  display: inline-block;
  background: rgba(#000000, 0.5);
  padding: 0 .25em;
}