:root {
  --color-blue: #42babb;
  --color-gray-extralight: #d1d6df;
  --color-gray-light: #a1a5ad;
  --color-gray: #767b83;
  --color-gray-dark: #1c1d1f;
  --color-background: var(--color-gray-dark);
  --color-foreground: var(--color-gray-extralight);
 
  --header-height: 50px;
  --footer-height: 200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-foreground);
  background: var(--color-background);
}

@mixin container {
  width: 100%;
  max-width: 900px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 600px) {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

.container,
.container--wide,
.container--full  {
  @include container;
}

.container--wide {
  max-width: 1200px;
}

.container--full {
  max-width: none;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

a {
  color: var(--color-blue);
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color: var(--color-background);
  background-color: var(--color-blue);
}

img {
  display: block;
  max-width: 100%;
}

.body-text {
  font-size: 17px;
  @media (min-width: 760px) {
    font-size: 20px;
  }
}

h2,
h3,
h4 {
  margin-bottom: 0;
}

.nowrap {
  @media (min-width: 480px) {
    white-space: nowrap;
  }
}

.screen-reader-text {
  position: absolute;
  text-indent: -9999px;
  font-size: 1px;
}

.page-title {
  margin: 0;
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.4;
  @media (min-width: 480px) {
    font-size: 2.2em;
  }
  @media (min-width: 760px) {
    font-size: 2.75em;
  }
  @media (min-width: 960px) {
    font-size: 3.5em;
  }
}

.main-content {
  min-height: calc(
    100vh - var(--header-height) - var(--footer-height)
  );
  padding-bottom: 3em;
}

.page-info .main-content,
.page-404 .main-content {
  display: flex;
  align-items: center;
}

.page-404 .page-title {
  @media (min-width: 760px) {
    font-size: 5em;
  }
}
