:root {
  --color-blue: #42babb;
  --color-gray-extralight: #d1d6df;
  --color-gray-light: #a1a5ad;
  --color-gray: #828282;
  --color-gray-dark: #1c1d1f;
  --color-background: var(--color-gray-dark);
  --color-foreground: var(--color-gray-extralight);
 
  --header-height: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-foreground);
  background: var(--color-background);
}

.container {
  max-width: 600px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .container {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

.container--wide {
  max-width: none;
}

a {
  color: var(--color-blue);
}

a:hover {
  color: var(--color-background);
  background-color: var(--color-blue);
}

.screen-reader-text {
  position: absolute;
  text-indent: -9999px;
  font-size: 1px;
}

.main-content {
  min-height: 50vh;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tile {
  min-height: 200px;
  padding: 1em;
  border: solid 1px;
  margin-bottom: 1em;
}
