:root {
  --color-blue: #0642d5;
  --color-blue-light: #4290bb;
  --color-gray-light: #CCC;
  --color-gray-medium: #a4a4a4;
  --color-gray-dark: #444444;
  --header-height: 47px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-blue);
  background: #eee;
}

.contain {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--color-blue);
}

a:hover {
  color: white;
  background-color: var(--color-blue);
}

.screen-reader-text {
  position: absolute;
  text-indent: -9999px;
  font-size: 1px;
}


.main-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tile {
  min-height: 200px;
  margin-bottom: 1em;
  border: solid 1px;
}
