.list {
  --grid-gap: 30px;
  list-style-type: none;
  margin: 0 auto;
  padding-top: calc(var(--grid-gap) + var(--header-height));
  padding-left: 0;
  padding-bottom: var(--grid-gap);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
  max-width: 500px;
  @media (min-width: 600px) {
    width: 90%;
    max-width: 800px;
    --grid-gap: 50px;
  }
  @media (min-width: 960px) {
    --grid-gap: 60px;
  }
}

.listItem {
  display: block;
}
