.header {
  background: var(--color-background);
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: solid 1px var(--color-gray);
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: block;
  &:hover {
    background: transparent;
  }
}

.logo svg {
  display: block;
  height: 25px;
  width: auto;
}

.logo path {
  fill: var(--color-blue);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: inline-block;
}

.listItem + .listItem::before {
  content: '/';
  display: inline-block;
  padding: 0 0.5em;
  color: var(--color-gray);
}

.listItem a {
  font-weight: 400;
  text-decoration: none;
}
