.header {
  background: var(--color-background);
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: solid 1px var(--color-foreground);
  height: var(--header-height);
  position: sticky;
  top: 0;
}

.header > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px var(--color-blue);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: inline-block;
}

.listItem + .listItem::before {
  content: '/';
  display: inline-block;
  padding: 0 0.5em;
}

.listItem a {
  font-weight: 700;
  text-decoration: none;
}
