.list {
  list-style-type: none;
  margin: 0;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.listItem {
  display: block;
}

.link {
  display: block;
  padding: 14px;
  text-decoration: none;
}

.link:hover {
  background: inherit;
  color: var(--color-blue);
}

.inner {
  display: block;
  border-radius: 14px;
  overflow: hidden;
  background: var(--color-background);
  box-shadow: 
    0 0 0 13px var(--color-background),
    0 0 0 14px var(--color-gray);
}

.link:hover .inner {
  box-shadow: 
    0 0 0 13px var(--color-background),
    0 0 0 14px var(--color-blue);
}

.img {
  display: block;
  max-width: 100%;
}

.info {
  padding-top: .75em;
  padding-bottom: .75em;
}

.title {
  margin: 0;
  font-size: 1.33em;
  line-height: 1.25;
}

.link:hover .title {
  text-decoration: underline;
}

.description {
  color: var(--color-foreground);
  font-weight: 100;
  margin-top: .25em;
  margin-bottom: 0;
}
