.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-blue);
  color: white;
  text-align: center;
  min-height: calc(100vmin - var(--header-height));
}

.intro h1 {
  margin: 0;
}

.intro h2 {
  margin: 0;
  font-weight: normal;
  line-height: 1.33;
}

.textBlock {
  padding-top: 1em;
  padding-bottom: 2em;
}
