
.link {
  display: block;
  padding: 14px;
  text-decoration: none;
  @media (min-width: 600px) {
    padding: 20px;
  }
}

.link:hover {
  background: inherit;
  color: var(--color-blue);
}

.inner {
  --inner-shadow: 13px;
  --outer-shadow: 14px;
  display: block;
  border-radius: 14px;
  overflow: hidden;
  background: var(--color-background);
  box-shadow: 
    0 0 0 var(--inner-shadow) var(--color-background),
    0 0 0 var(--outer-shadow) var(--color-gray);
  @media (min-width: 600px) {
    --inner-shadow: 19px;
    --outer-shadow: 20px;
  }
}

.link:hover .inner {
  box-shadow: 
  0 0 0 var(--inner-shadow) var(--color-background),
  0 0 0 var(--outer-shadow) var(--color-blue);
}

.inner > *:last-child:not(img) {
  padding-bottom: .75rem;
}

.inner > *:first-child:not(img),
.inner > img + * {
  padding-top: .75rem;
  margin-top: 0;
}

.link h2 {
  margin: 0;
  font-size: 1.33em;
  font-weight: 300;
  line-height: 1.25;
  @media (min-width: 600px) {
    font-size: 1.75em;
  }
}

.link:hover h2 {
  text-decoration: underline;
}

.link h4 {
  color: var(--color-foreground);
  font-size: .9em;
  font-weight: 300;
  line-height: 1.25;
  margin-top: .25em;
  margin-bottom: 0;
  @media (min-width: 600px) {
    font-size: 1em;
  }
}
